// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'components/navbar';
@import 'components/header';



html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}



p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.jumbotron{
	min-height:350px;
	position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    background-image: url(/images/header.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
	width:100px;
	margin:auto;
	margin-bottom:20px;
}

.content-section-a{
	    padding: 50px 0;
    background-color: #f8f8f8;
}
.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.admin-p{
	padding-top:50px;
	font-size: 20px;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
.section-heading {
    margin-bottom: 30px;
    font-family: "Helvetica";
    position:relative;
    top:-25px;
}
.right-border{
	border-right-style: solid;
    border-right-width: 2px;
    border-right-color: orange;
}
.left-border{
	border-left-style: solid;
    border-left-width: 2px;
    border-left-color: orange;
}
#new-category-name{
	width: 60%;
	display: inline;
}
.create-event-btn{
	padding-top:60px;
}
.or-divider{
	text-align: center;
    margin-top: 22px;
    font-size: 23px;
}
.events-wrapper{
	padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 165, 0, 0.38);
}
.subscribers-wrapper{
	padding:10px;
	margin-bottom: 10px;
}